.main{
    min-height: 80vh;
    width: 100%;
    flex-grow: 1;
}

.logo{
        height: 50px ;
      
        padding: 10px;

}
.nbar{

        background-color: #91C8FA;
}

.chk{

border-color: black ;

}
.card {
       width: 400px;
       
    }

   .card-img-top{

    height: 200px;
    width: 400px;
    object-fit: cover;
}

  
    .btn-detail{

        background-color: #91C8FA;

}

footer {
    background-color: #91C8FA;
    padding: 20px 0;
    width: 100%;
}
.social-icons img {
    width: 40px; /* Tamaño de las imágenes de redes sociales */
    height: 40px;
    border-radius: 50%; /* Forma circular para las imágenes */
}
.cohort-text {
    margin-right: 20px; /* Espacio a la derecha del texto "cohort" */
}

.formu{

    width: 300px;
     min-height: 200px;

}

.img-detail{

    object-fit: cover;
    height: 100%;
    max-height: 300px;

}

.table-bordered {
    border: 1px solid black;
  }
  .table-bordered td, .table-bordered th {
    border: 1px solid black;
  }

  .text-celdas{

    font-size: 10px;

}
